<?xml version="1.0"?>
<launch>
    <!-- global parameter -->
    <node name="cmd_vel_to_ackermann"   pkg="base_control"  type="cmd_vel_to_ackermann_drive.py" output="screen">
        <param name="twist_cmd_topic"   value="/cmd_vel"/>  
        <param name="ackermann_cmd_topic"  value='ackermann_cmd'/>
        <param name="wheelbase"    value="0.1445"/> 
        <param name="frame_id"    value="odom"/> 
    </node>
</launch>
